$successColor: green;
$errorColor: red;

body {
  overflow-y: scroll;
}

.success {
  color: $successColor;
}
.error {
  color: $errorColor;
}

@mixin horizontalSeparator() {
  margin: {
    left: 0;
    right: 0;
    top: 0.33em;
    bottom: 0.33em;
  }
}
@mixin font($size, $weight) {
  font: {
    size: $size;
    weight: $weight;
  };
}

.hrSeparator {
  @include horizontalSeparator();
  border-color: #959595;
}
.textPanelContainer {
  @include horizontalSeparator();
}
.floatLeft {
  float: left;
}
.notificationContainer {
  padding-left: 4.5em;
  div {
    @include font(1.5em, 500);
    @include horizontalSeparator();
  }
  p {
    @include font(1.2em, 200);
  }
}
.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(220, 220, 220, 0.9);
  div {
    position: absolute;
    text-align: center;
    top: calc(50% + 100px);
    width: 100%;
    @include font(1.5em, 600);
  }
  img {
    position: absolute;
    top: calc(50% - 115px);
    left: calc(50% - 100px);
  }
}
